<h3><%= @participant.scoresheet.name %></h3>
<h4>Deadline: <%= pretty_datetime(@participant.scoresheet.deadline, ampm: true) %></h4>
<% if @participant.scoresheet.message.present? %>
  <div class="well">
    <p class="message"><%= @participant.scoresheet.message %></p>
  </div>
<% end %>
<div class="well"><%= render 'entries' %></div>

<% if @participant.scoresheet.expired? && @results %>
  <div class="well"><%= render 'differentials' %></div>  
  <div class="well"><%= render 'standings'%></div>  
<% end %>

<div class="well">
  <%= render 'messages' %>
  <%= render 'message_form' %>
</div>
