<h3><%= @participant.scoresheet.name %></h3>
<h4>Deadline: <%= pretty_datetime(@participant.scoresheet.deadline, ampm: true) %></h4>
<% if @participant.scoresheet.message.present? %>
  <div class="well">
    <h4>Message</h4>
    <p class="message"><%= @participant.scoresheet.message %></p>
  </div>
<% end %>
<div class="well">
  <h4>Entries</h4>
  <table class="table table-striped table-hover table-condensed">
    <tr>
      <th>&nbsp;</th>
      <% @bets.each do |b| %>
        <th><%= b.name %></th>
      <% end %>
    </tr>    
    <% @participants.each do |p| %>
      <tr>
        <td><%= p.name %></td>
        <% @bets.each do |b| %>
          <td>
            <% if @entries[b.id][p.name].present? %>
              <% if p.id == @participant.id || @participant.scoresheet.expired? %>
                <%= @entries[b.id][p.name] %>
              <% else %>
                <%= check_mark('Submitted but hidden') %>
              <% end %>
            <% else %>
              <%= question_mark('No Entry Yet')%>
            <% end %>
          </td>
        <% end %>
    <% end %>
  </table>
  <% unless @participant.scoresheet.expired? %>
    <%= link_to 'Modify your Entries', "#{@participant.key}/edit", class: 'btn btn-success' %>
  <% end %>
</div>
<% if @participant.scoresheet.expired? && @results %>
  <div class="well">
    <h4>Differentials</h4>
    <table class="table table-striped table-hover table-condensed">
      <tr>
        <th>&nbsp;</th>
        <% @bets.each do |b| %>
          <th><%= b.name %></th>
        <% end %>
        <% if @scoresheet.consolation? %>
          <th>Consolation</th>
        <% end %>
      </tr>    
      <% @participants.each do |p| %>
        <tr>
          <td><%= p.name %></td>
          <% @bets.each do |b| %>
            <td><%= @differentials[b.id][p.name] %></td>
          <% end %>
          <% if @scoresheet.consolation? %>
            <td><%= @consolation[p.name] %>
          <% end %>
      <% end %>
      <tr>
        <th>Winners</th>
        <% @bets.each do |b| %>
          <td><%= @winners[b.id].join(",") %></td>
        <% end %>
        <% if @scoresheet.consolation? %>
          <td><%= @winners['consolation'].join(",") %></td>
        <% end %>
      </tr>
    </table>
  </div>
  
  <div class="well">
    <h4>Standings</h4>
    <table class="table table-striped table-hover table-condensed">
      <tr>
        <th>&nbsp;</th>
        <% @bets.each do |b| %>
          <th><%= b.name %></th>
        <% end %>
        <% if @scoresheet.consolation? %>
          <th>Consolation</th>
        <% end %>
        <th>TOTAL</th>
      </tr>    
      <% @participants.each do |p| %>
        <tr>
          <td><%= p.name %></td>
          <% @bets.each do |b| %>
            <td><%= sprintf('%g', @standings[p.name][b.id]) %></td>
          <% end %>
          <% if @scoresheet.consolation? %>
            <td><%= sprintf('%g', @standings[p.name]['consolation']) %></td>
          <% end %>
          <td><%= sprintf('%g', @standings[p.name].values.sum) %></td>
      <% end %>
    </table>
  </div>
  
<% end %>