<h2><%= @participant.name %>'s Entries</h2>
<%= form_for @participant, url: participant_path(@participant.key), html: { class: 'form-horizontal'} do |f| %>
  <table class="table table-striped table-hover table-condensed">
    <%= f.fields_for :entries do |e| %>
      <tr>
        <td><%= e.object.bet.name %></td>
        <td>
          <%= e.hidden_field :bet_id %>
          <%= e.hidden_field :participant_id %>
          <%= e.text_field :value %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= f.submit 'Submit', class: 'btn btn-success' %>
<% end %>