<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Chordination Bet Invite</title>
</head>
<body>
  <p><%= @participant.scoresheet.user.name %> (<%= @participant.scoresheet.user.email %>) invites you to bet on "<%= @participant.scoresheet.name %>"</p>
  Click <%= link_to 'HERE', "#{Rails.application.config.root_url}/entries/#{@participant.key}" %> to play.
  <p style="white-space: pre-wrap;"><%= @participant.scoresheet.message %></p>
</body>
</html>