<h2><%= @scoresheet.name %> <%= link_to "", edit_scoresheet_path(@scoresheet), class: 'icon-pencil btn'%></h2>
<h3>Deadline: <%= pretty_datetime(@scoresheet.deadline, ampm: true) %></h3>
<div class="well"><%= render 'bets' %></div>
<div class="well"><%= render 'participants' %></div>