<% bets = @scoresheet.bets.order("position") %>
<% participants = @scoresheet.participants.order("position") %>

<h2><%= @scoresheet.name %> <%= link_to "", edit_scoresheet_path(@scoresheet), class: 'icon-pencil btn'%></h2>
<h3>Deadline: <%= pretty_datetime(@scoresheet.deadline, ampm: true) %></h3>
<h3>Bets</h3>
<table class="table table-striped table-hover table-condensed">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Created At</th>
    <th>Updated At</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% bets.each do |b| %>
    <tr>
      <td><%= b.name %></td>
      <td><%= b.bet_type %></td>
      <td><%= pretty_datetime(b.created_at) %></td>
      <td><%= pretty_datetime(b.updated_at) %></td>
      <td><%= link_to("", scoresheet_bet_path(@scoresheet, b, method: 'move_higher'), :method => :put, class: 'icon-arrow-up btn') unless b == bets.first %></td>
      <td><%= link_to("", scoresheet_bet_path(@scoresheet, b, method: 'move_lower'), :method => :put, class: 'icon-arrow-down btn') unless b == bets.last %></td>
      <td><%= link_to("", edit_scoresheet_bet_path(@scoresheet, b), class: 'icon-pencil btn') %></td>
      <td><%= link_to("", [@scoresheet, b], :method => :delete, class: 'icon-trash btn', data: { confirm: "Are you sure you want to remove \"#{b.name}\"?"}) %></td>
    </tr>
  <% end %>
</table>
<p><%= link_to 'Add', new_scoresheet_bet_path(@scoresheet), class: 'btn' %></p>
<hr>
<h3>Participants</h3>
<table class="table table-striped table-hover table-condensed">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Status</th>
    <th>Created At</th>
    <th>Updated At</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% participants.each do |p| %>
    <tr>
      <td><%= p.name %></td>
      <td><%= p.email %></td>
      <td><%= status?(p) %></td>
      <td><%= pretty_datetime(p.created_at) %></td>
      <td><%= pretty_datetime(p.updated_at) %></td>
      <td>
        <% if @scoresheet.user.email == p.email %>
          &nbsp;
        <% else %>
          <%= link_to "Resend Invite", reinvite_scoresheet_participant_path(@scoresheet, p), class: 'btn btn-info' %>
        <% end %>
      </td>
      <td><%= link_to("", scoresheet_participant_path(@scoresheet, p, method: 'move_higher'), :method => :put, class: 'icon-arrow-up btn') unless p == participants.first %></td>
      <td><%= link_to("", scoresheet_participant_path(@scoresheet, p, method: 'move_lower'), :method => :put, class: 'icon-arrow-down btn') unless p == participants.last %></td>
      <td><%= link_to "", edit_scoresheet_participant_path(@scoresheet, p), class: 'icon-pencil btn' %></td>
      <td><%= link_to "", [@scoresheet, p], :method => :delete, class: 'icon-trash btn', data: { confirm: "Are you sure you want to remove #{p.name}?"} %></td>
    </tr>
  <% end %>
</table>
<p><%= link_to 'Add', new_scoresheet_participant_path(@scoresheet), class: 'btn' %></p>